<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>DashClock</title>
    <link
       rel="stylesheet"
       href="<%= static_path(@conn, "/css/app.css") %>"
       />
    <link
       rel="stylesheet"
       href="/fonts/weather-icons/css/weather-icons.min.css"
       />
    <link
       rel="stylesheet"
       href="https://fonts.googleapis.com/css?family=Numans|Cousine|Roboto:400,100,300,500,700,900|Oswald:400,300,700|Roboto+Mono:400,700|VT323|Anonymous+Pro:400,700|Share+Tech+Mono|Nova+Mono"
       />
    <link
       rel="stylesheet"
       href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"
       />
  </head>
  <body>
    <div id="main-container">
      <div id="clock-container"></div>
      <div id="tfl-status-container"></div>
      <div id="weather-container"></div>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
