{system_libs,false}.

{overlay,[{mkdir,"releases/0.1.3"},
          {copy,"./sys.config","releases/0.1.3/sys.config"},
          {copy,"./boot_shim","bin/dashclock"},
          {copy,"./boot_shim.bat","bin/dashclock.bat"},
          {copy,"./boot","releases/0.1.3/dashclock.sh"},
          {copy,"./boot.bat","releases/0.1.3/dashclock.bat"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/rel/.files/vm.args",
                "releases/0.1.3/vm.args"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/.compile.protocols",
                "lib/dashclock-0.1.3/consolidated/.compile.protocols"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.Collectable.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.Collectable.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.Ecto.DataType.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.Ecto.DataType.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.Ecto.Queryable.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.Ecto.Queryable.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.Enumerable.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.Enumerable.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.IEx.Info.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.IEx.Info.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.Inspect.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.Inspect.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.JaSerializer.Formatter.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.JaSerializer.Formatter.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.JaSerializer.ParamParser.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.JaSerializer.ParamParser.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.List.Chars.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.List.Chars.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.Phoenix.HTML.FormData.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.Phoenix.HTML.FormData.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.Phoenix.HTML.Safe.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.Phoenix.HTML.Safe.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.Phoenix.Param.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.Phoenix.Param.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.Plug.Exception.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.Plug.Exception.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.Poison.Decoder.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.Poison.Decoder.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.Poison.Encoder.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.Poison.Encoder.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.String.Chars.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.String.Chars.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.Timex.Comparable.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.Timex.Comparable.beam"},
          {copy,"/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/consolidated/Elixir.Timex.Protocol.beam",
                "lib/dashclock-0.1.3/consolidated/Elixir.Timex.Protocol.beam"}]}.

{generate_start_script,false}.

{extended_start_script,true}.

{include_src,false}.

{include_erts,false}.

{release,{dashclock,"0.1.3"},[{dashclock,"0.1.3"},elixir,iex,sasl]}.

{release,{dashclock,"0.1.1"},[{dashclock,"0.1.1"},elixir,iex,sasl]}.

{release,{dashclock,"0.1.0"},[{dashclock,"0.1.0"},elixir,iex,sasl]}.

{lib_dirs,["/Users/phillipoldham/Projects/elixir/dashclock/_build/prod/lib",
           "/Users/phillipoldham/Projects/elixir/dashclock/deps",
           "/Users/phillipoldham/.exenv/versions/1.3.4/bin/../lib/eex/ebin",
           "/Users/phillipoldham/.exenv/versions/1.3.4/bin/../lib/elixir/ebin",
           "/Users/phillipoldham/.exenv/versions/1.3.4/bin/../lib/ex_unit/ebin",
           "/Users/phillipoldham/.exenv/versions/1.3.4/bin/../lib/iex/ebin",
           "/Users/phillipoldham/.exenv/versions/1.3.4/bin/../lib/logger/ebin",
           "/Users/phillipoldham/.exenv/versions/1.3.4/bin/../lib/mix/ebin"]}.

