[{sasl,[{errlog_type,error}]},
 {logger,
     [{console,
          [{format,<<"$time $metadata[$level] $message\n">>},
           {metadata,[request_id]}]},
      {level,info}]},
 {phoenix,[{serve_endpoints,true}]},
 {dashclock,
     [{api_keys,
          [{darksky_id,<<"23441ba59d9294a1fabbab88c90b6dcc">>},
           {tfl_id,<<"1f7d6c98">>},
           {tfl_key,<<"4460186a9dabfafa9b1a839072c50325">>}]},
      {api_urls,
          [{ip,<<"https://api.ipify.org">>},
           {location,<<"http://ip-api.com/json/{ip}">>},
           {weather,
               <<"https://api.darksky.net/forecast/{apikey}/{lat},{lon}?units=si">>},
           {tfl,
               <<"https://api.tfl.gov.uk/line/mode/tube,dlr/status?app_id={id}&app_key={key}">>},
           {seriesly,<<"http://192.168.1.201:3133/sensors/_query">>}]},
      {seriesly,
          [{group,<<"300000">>},
           {collect,
               [{<<"/temperature">>,<<"avg">>},{<<"/humidity">>,<<"avg">>}]},
           {filter,{<<"/location">>,<<"bedroom">>}}]},
      {'Elixir.Dashclock.Endpoint',
          [{render_errors,
               [{view,'Elixir.Dashclock.ErrorView'},
                {accepts,[<<"html">>,<<"json">>]}]},
           {pubsub,
               [{name,'Elixir.Dashclock.PubSub'},
                {adapter,'Elixir.Phoenix.PubSub.PG2'}]},
           {http,[{port,4000}]},
           {url,[{host,<<"localhost">>},{port,4000}]},
           {cache_static_manifest,<<"priv/static/manifest.json">>},
           {root,<<".">>},
           {server,true},
           {version,<<"0.1.3">>},
           {secret_key_base,
               <<"DuA10VOmFyH/n+olk5FZMSSxGpAMdaVjj+XbaIFnaRUETYJKWJA63U90jWXTIpsS">>}]}]}].
