#weather-container
  position: absolute
  font-family: "Nova Mono"
  top: 140px
  left: 40px
  width: 500px
  height: 250px

  div.day
    float: left

    .icon
      font-size: 50px

  div#day-0,
  div#day-1,
  div#day-2
    position: absolute
    width: 500px
    height: 200px

    .icon
      position: absolute
      width: 200px
      height: 200px
      top: 0
      left: 0
      font-size: 150px
      vertical-align: bottom

    .temp-current
      position: absolute
      top: 20px
      left: 200px
      font-size: 100px
      width: 120px
      text-align: right

    .temp-max,
    .temp-min
      font-size: 30px
      left: 340px

    .temp-max
      position: absolute
      top: 44px
      line-height: 1.6em

    .temp-min
      position: absolute
      top: 90px
      border-top: 1px solid #AAA
      line-height: 1.6em

    .precip
      position: absolute
      /* top: 150px
      /* left: 200px
      top: 70px
      left: 385px
      font-size: 30px
      width: 120px

  div#day-1,
  div#day-2
    position: absolute
    top: 200px
    left: 0
    width: 500px
    height: 100px
    opacity: .8

    .icon
      position: absolute
      width: 150px
      height: 100px
      top: 0
      left: 0
      font-size: 80px
      vertical-align: middle

    .temp-current
      display: none

    .temp-max,
    .temp-min
      font-size: 24px
      left: 150px

    .temp-max
      position: absolute
      top: 10px
      line-height: 1.6em

    .temp-min
      position: absolute
      top: 50px
      border-top: 1px solid #AAA
      line-height: 1.6em

    .precip
      position: absolute
      top: 36px
      left: 180px
      font-size: 20px
      width: 120px


  div#day-2
    left: 240px
    opacity: .5
